@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #2d353b, #2d3e46e6);
}

.calculator {
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  color: #0a0a0a, #3a4452;
  background-color: transparent;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

input {
  width: 320px;
  color: #f9fcff;
  border: none;
  padding: 24px;
  margin: 10px;
  background-color: black;

  box-shadow: 0px 3px 15px rgba(206, 218, 218, 0.2);
  font-size: 40px;
  text-align: right;
  cursor: pointer;
}

button {
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 20px;
  box-shadow: 8px 8px 15px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.equal_button {
  background-color: #d9d914;
}

.operator {
  color: orange;
}
